body {
    background-color: green;
}

/* Product view */
.view-products .table.views-table {
    width: 100%;
}

#block-houston-meats-content .add-item-quantity {
    width: 4em;
}

#block-houston-meats-content .views-field-title {
    font-weight: bold;
    text-transform: capitalize;
}

#block-houston-meats-content .views-field-title .product-description {
    font-weight: normal;
    text-transform: initial;
    font-size: 80%;
}

#submit-order-button, #ready-order-button {
    background-color: green;
}

#finalize-order {
    display: none;
}

#ready-order-button:disabled {
    color: gray;
    background-color: white;
    cursor: no-drop;
}

#submit-order-button {
    display: none;
}

table.views-view-table caption {
    display: none;
}

.view-rows .product-type, body.path-product-meats .view-rows .product-category {
    font-size: 140%;
    font-weight: bold;
    padding: 4px;
    background-color: black;
    color: wheat;
    text-transform: capitalize;
}

.views-field-title {
    width: 100%;
}

.views-field-field-unit-size, .views-field-field-unit-price, .views-field-field-in-stock, .views-field-nid {
    min-width: 6em;
}

body.path-product-meats .view-rows

/* Sidebar Cart */
#cart-items td {
    vertical-align: bottom;
}
#cart-items td:last-child, #cart-items th:last-child {
    text-align: right;
    vertical-align: bottom;
}

#cart-items .delete-button {
    font-size: 140%;
    color: white;
    background-color: red;
    font-weight: bold;
}

#cart-items .item-title {
    font-weight: bold;
}

